h1{

    color: #f7f7f7;
    }
    .data{
        background:  linear-gradient(to right, #232222, #000); 
        border-radius: 10px 10px 10px 10px;
        height: 60px;
        width: 355px;
        cursor: pointer;
        margin: 0px 0px 10px 10px ;
        margin-left: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        
    }