h2{

color: #ffffff;
}
.data{
    background:  linear-gradient(to right, #536976, #292e49); 
    border-radius: 10px 10px 10px 10px;
    height: 70px;
    width: 450px;
    cursor: pointer;
    margin: 0px 0px 40px 500px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
p{
    color:#ffffff;
}