img{
    height: 50px;
    width: 50px;
}

.NavBar{
    display: flex;
    text-decoration: none;
    text-align: center;
   justify-content: space-between;
   background: #232526;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   padding: 20px 40px;
   box-shadow: 0 5px 15px (rgba(0,0,0,0.06 ));
   border-radius: 20px;

}
.navdata{
   display: flex; 
   align-items: center;
   justify-content: center;
   

}
.navdata li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navdata li a{

    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 600;
    transition: 0.3e ease-in-out;
}

.navdata li a:hover {
    color: #17cf97;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #3498db; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  .btn:hover {
    background-color: #2980b9; 
  }
  
  
  .btn:active {
    background-color: #1c6da8; 
  }
  





